---
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/SocialPill.astro";
import ContactIcon from "../icons/Contact.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import Experience from "../components/Experience.astro";
import ExperienceIcon from "../icons/Briefcase.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CodeIcon from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import UserIcon from "../icons/User.astro";
import AboutMe from "../components/AboutMe.astro"
---

<Layout 
	title="Portfoli Ismael Benítez - Desenvolupador i Programador Web"
	description="Contracta a un perfil junior amb ambició i motivació per crear la teva aplicació web"
>
	<main class="px-4">
		<SectionContainer class="py-44">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				<img
					class="rounded-full w-16 h-16"
					src="https://i.gyazo.com/3ff46d48b1eed99230ad751a1771bbbb.png"
					alt="ismadev photo"
				/>	
				Ei, sóc Ismael Benítez
			</h1>
			</div>
			<h2 class="text-xl lg:text-2xl text-[#D1D2D6] text-wrap max-w-[700px]">
				Tècnic titulat del <b class="text-white opacity-95">Grau Superior de Desenvolupament Web</b> de l'<b class="text-white opacity-95">Institut
				Nicolau Copèrnic</b> a Terrasa, Espanya.
			</h2>

			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="mailto:ismaelbenitezmartinez@gmail.com">
					<ContactIcon class="size-4 md:size-6" />
					ismaelbenitezmartinez@gmail.com
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/ismael-benitez-martinez/">
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="sobre-mi" class="py-22">
			<h2 class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center"> 
				<UserIcon class="size-8" />
				Sobre mi
			</h2>
			<AboutMe />
		</SectionContainer>

		<SectionContainer id="projectes" class="py-22">
			<h2 class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center"> 
				<CodeIcon class="size-8" />
				Projectes
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="experiencia" class="py-22">
			<h2 class="text-white text-3xl font-semibold mb-6 flex gap-x-3 items-center"> 
				<ExperienceIcon class="size-8" />
				Experiència laboral
			</h2>
			<Experience>
			</Experience>
		</SectionContainer>
	</main>
</Layout>
