<p class="text-lg text-pretty text-gray-300">
    Tinc 23 anys, sóc un estudiant amb molta motivació per a dedicar-me al món de la programació. 
    Em considero una persona organitzada i amb una gran capacitat d'adaptació. 
    Tinc experiència laboral en altres sectors, per la qual cosa sé el que és treballar en equip, la importància de l'organització i de la comunicació.
</p>