<div class="text-lg text-pretty text-gray-300 flex flex-col gap-6">
    <p> 
        Tinc 24 anys i sóc <b>desenvolupador web</b>. 
        Em considero una <b>persona organitzada</b>, amb una gran <b>capacitat d’adaptació</b> i moltes 
        ganes de continuar creixent professionalment en el món del desenvolupament web.
    </p>

    <p>
        He treballat en <b>projectes web amb enfocament real</b> que m’han permès aplicar els meus coneixements 
        en situacions pràctiques, millorant les meves <b>habilitats tècniques</b> i la meva <b>capacitat de resolució de problemes</b>. 
        A més, l’experiència laboral prèvia en altres sectors m’ha ensenyat el valor del <b>treball en equip</b>, 
        la <b>bona comunicació</b> i una <b>bona organització</b>.
    </p>
</div>