<p class="text-lg text-pretty text-gray-300">
    Tengo 23 años, soy un estudiante con mucha motivación para dedicarme al mundo de la programación. Me considero una persona organizada y con una gran capacidad de adaptación.
    Tengo experiencia laboral en otros sectores, por lo que sé lo que es trabajar en equipo, la importancia de la organización y de la comunicación.
</p>