<header class="flex justify-center items-center py-5 xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inici</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#projectes">Projectes</a>
        <a href="#contacte">Contacte</a>
    </nav>
</header>